body{
      background-color: #404040;
      height: 100%;
}
#react-content{
  height: 100%;
}
.layout-container{
     width: 100%;
     min-height: 100%;
}

.layout-logo{
  float:right;
  padding-left: 20px;
  height:40px;
  margin-right: 10px;
}

.layout-logo img{
  width:30px; height:30px; border-radius:50%; overflow:hidden;
  width: 40px;
  height:40px;
}

.layout-header{
  zoom: 1;
  position: relative;
  z-index: 50;
  width: 100%;
  height: 60px;
  background-color: #0083CD;
  color: white;
}

.layout-aside{
  float: left;
  min-height: 100%;
  position: relative;
  z-index: 49;
  width: 200px;
  padding-top: 60px;
  margin-top: -60px;
  background-color: #f0f0f0;
}

.layout-aside .layout-aside-wrapper{
  width: 100%;
  height: 100%;
  /*background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);*/
  background-color: #ECECEC;
}

.layout-aside .layout-aside-wrapper .ant-menu{
  border-right: 0;
  background: transparent;
  color: #c0bbb7;
}

.layout-aside .layout-aside-wrapper .ant-menu a{
  color: #c0bbb7;
}

.layout-aside .layout-aside-wrapper .ant-menu-sub{
  background: #F2f2F2;
  color:  #89c5e8;
}

.layout-aside .layout-aside-wrapper .ant-menu .ant-menu-item-selected{
  border: 0;
}
.layout-aside .layout-aside-wrapper .ant-menu .ant-menu-item-selected a{
  color: #89c5e8;
}

.layout-aside .layout-aside-wrapper .ant-menu .ant-menu-submenu-title:hover,
.layout-aside .layout-aside-wrapper .ant-menu .ant-menu-item-active,
.layout-aside .layout-aside-wrapper .ant-menu .ant-menu-item-active:hover{
  background-color: #F2f2F2;
}

.layout-content-wrapper{
  min-height: 100%;
  position: relative;
  z-index: 48;
  padding-top: 60px;
  margin-top: -60px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  margin-left: 200px;
  padding-bottom: 100px;
  overflow: hidden;
  background-color: #FFF;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.layout-content{
  padding: 40px;
  height: 100%;
  width: 100%;
}

.layout-footer{
  margin-left: 200px;
      padding: 0 0 50px 0;
      font-size: 12px;
      color: #CCC;
      background-color: #FFF;
      text-align: center;
}

.search-form {
  padding: 16px 8px;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 15px;
}

.search-form > .row {
  margin-left: -10px;
}

.search-form > .row > .col-8 {
  padding: 0 8px;
}

.search-form .ant-form-item {
  margin-bottom: 16px;
}

.search-form .ant-btn + .ant-btn {
  margin-left: 8px;
}

.title{
  font-size: 15px;
}

.titleDiv{
  font-size: 15px;
  height: 30px;
  padding: 5px;
  background-color: #f0f0f0;
}

.divier{
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-title{
  float:left;
  font-size:15px;
}

.top-user{
  float: right;
  font-size:12px;
  color: white;
  width:150px;
  height: 30px;
}

a{
  margin-right: 10px;
}

.awhite{
  margin-right: 10px;
}

.awhite:link,.awhite:visited{color:#ffffff;}

.imgyuan{
  float: right;
  width:30px; height:30px; border-radius:50%; overflow:hidden;
  margin-right: 10px;
}

.user-text{
  float: left;
  margin-right: 10px;
}

.button{
  color: #4CabE1;
  background-color: white;
  border-color: #4CabE1;
  border-radius: 2px;
  border: 1;
  padding-top: 8px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 8px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.container {
    position: relative;
    top: 25%;
    z-index: 1001;
    width: 450px;
    margin: auto;
    padding: 30px 40px 40px;
    border-radius: 10px;
    background-color: #fff;
}

.container h2{
    margin: 0 0 25px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #323a45;
}

.container button{
    width: 100%;
    height: 45px;
    border: none;
    background-color: #323a45;
    color: #fff;
    font-size: 24px;
    border-radius: 24px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: opacity .2s ease;
}

.LoginContainer{
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url('/images/bg1.jpg');
   background-repeat: no-repeat;
   background-size:100% 100%; 
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.input[type=text], input[type=password] {
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

.input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
.input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 .input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}

.contentDiv {
  width: 100%;
  height: 300px;
  border:1px solid #0083CD;
  padding: 30px;
  font-size: 20px;
  text-align: center;
}

.ant-layout-aside {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

.ant-layout-aside .ant-layout-logo {
  width: 150px;
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px 24px 16px 28px;
}

.ant-layout-aside .ant-layout-sider {
    background: #404040;
    min-height: 100%;
    position: relative;
    z-index: 49;
    width: 224px;
    padding-top: 60px;
    margin-top: -60px;

}

.text2{
    width: 224px;
  position: absolute;
  overflow: auto;
  padding-bottom: 0px;
  height: 100%;
  margin-top: -60px;
  padding-top: 60px;
}

.ant-layout-aside .ant-layout-sider > .ant-menu {
  margin-bottom: 0px;
}

.ant-layout-aside .ant-layout-header {
  background: #fff;
  height: 60px;
  border-bottom: 1px solid #e9e9e9;
  padding: 20px;
}

.ant-layout-aside .ant-layout-breadcrumb {
    font-size:20px;
}

.ant-layout-aside .ant-layout-main {
    height: 100%;
    position: absolute;
    margin-right: 60px;
    margin-top: -60px;
    padding-top: 60px;
    width: 100%;
    padding-left: 224px;

}

.ant-layout-aside .ant-layout-container {
    position: relative;
    width: 100%;
}

.text{
   margin: 24px 16px;

}

.ant-layout-aside .ant-layout-content {
  background: #fff;
  height: 100%;
}

.ant-layout-aside .ant-layout-footer {
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 12px;
    color: #999;
    background: #fff;
    border-top: 1px solid #e9e9e9;
    width: 100%;
    position: relative;
    bottom: 0;
}

.upload-list-inline .ant-upload-list-item {
  display: inline-block;
  width: 200px;
  margin-right: 8px;
}
