.menuContainerNormal {
    background-color: #f6f6f6;
    height: 48px;
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items:center;
    padding:15px;
    cursor:pointer;
}

.menuContainerFoucs {
    background-color: #e2edf5;
    height: 48px;
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items:center;
    padding:15px;
    cursor:pointer;
}
 
 .menuTitleNormal{
    font-size: 13px;
    color:#969aa7;
 }

 .menuTitleFoucs{
    font-size: 13px;
    color:#0083CD;
 }


 .topMenuCotainer{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex:1;
    align-items:center;
    flex-direction: row ;
}